
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');


*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(251, 248, 248);
}


fieldset{
    width: 50%;
    height: 150px;
}

h1{
    text-align: center;
}

#MesLien{
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    text-decoration: none;
    opacity: 0.5;
    position: fixed;
}


#MesLien img{
    width: 8%;
    height: 70px;
    margin: 15px;
    margin-left: 15%;
}

#MesLien a{
    text-decoration:none ;
    float: left;
    margin-right: 50px;
    margin-left: 80px;
    position: relative;
    left: 25%;
    top: 45%;
    columns: #000;
    font-size: 20px;

}

#menu ul{
    margin: 0;
    padding: 0;
    line-height: 30px;
    top: 30px;
}

#menu li{
    list-style: none;
    float: left;
    position: relative;
}
#menu ul li a{
    color:#000 ;
    display: block;
    text-align: center;
}

#menu ul ul{
    position: absolute;
    visibility: hidden;
    color: white;
    text-align: center;
}

#menu ul li:hover ul{
    visibility: visible;
}

#menu{
    position: relative;
    left: 22%;top: 40%;
}

.recherche input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    left: 28%;
    margin-bottom: 5px;
    outline: none;
}

#log{
    float: right;
    margin-right: 29%;
    border-radius: 5px;
}

#log i{
    font-size: 30px;
    margin-left: 10px;
    color: rgb(134, 130, 130);
}

.recherche #log{
    width: 3%;
    height: 40px;
}

h1{
    margin-top: 30px;
    font-size: 40px;
}

#page{
    background-color: #eb7371;
    width: 100%;
    height: 730px;
    background: url('IMAGE/mai2.a673efc2.jpg');
}

#page img{
    width: 100%;
     height: 200px;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  'Roboto', sans-serif;
}

form{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 15px;
    min-width: 300px;
    height: 690px;
}

form h1{
    color: rgba(232, 158, 47, 1);
    text-align: center;
    margin-bottom: 10px;
}

form .social{
    margin: 20px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
}

form .social p{
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

form p .email{
    text-align: center;
}

form .inputs{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

form .inputs input[type="email"],input[type="password"],input[type="number"],input[type="sexe"],input[type="service"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
}

form .inscription{
    font-size: 15px;
    margin-bottom: 20px;
    color:#878787 ;
    margin: 30px;
}

form p span{
    color: #eb7371;
}

form button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(232, 158, 47, 1);
    outline: none;
    cursor: pointer;
}

#folio{
    max-width: 1300px;
    width: 150%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,320px);
    justify-content: center;
    grid-gap: 70px;
    outline: none;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0;
    color:rgba(25, 163, 193, 1) ;
}

.grid-item{
    width: 340px;
    height: 400px;
    background-color: rgb(240, 237, 237);
    border: 1px solid rgba(25, 163, 193, 1);
}

.grid-item img{
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 40%;
}

#folio h3{
    text-align: center;
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(232, 158, 47, 1);
}

#folio p{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

#folio b{
    font-size: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}

form .social p i:hover{
    transform: translateY(-10px);
}

.grid-item .fa{
    color: rgba(25, 163, 193, 1);
    font-size: 28px;
    margin-top: 5%;
    margin-left: 3%;
}


.Apropos{
    width: 100%;
    background-color: rgb(230, 227, 227);
    height: 725px;
    margin-top: 20px;
}

.Apropos .texte p{
    text-align: center;
    font-size: 35px;
    color: rgba(25, 163, 193, 1);
    
}

.PremierImage{
    width: 15%;
    height:150px;
    background-color: #4f4d4d;
    position: relative;
    left: 65%;
    bottom: -6%;
    border-radius: 2%;
    background: url(IMAGE/Atl.png);
    background-size: 100% 100%;
}

.DeuxiemeImage{
    width: 15%;
    height: 230px;
    background-color: #5ebba4;
    background-size: 100%;
    position: relative;
    left: 80%;
    bottom: 2%;
    border-radius: 2%;
    background: url(IMAGE/clavier.jpg);
    background-size: 100% 100%;
}

.TroixiemImage{
    width: 15%;
    height: 230px;
    background-color: #854ab8;
    position: relative;
    left: 50%;
    bottom: 30%;
    border-radius: 2%;
    background: url(IMAGE/slide3.90440a3f.jpg);
    background-size: 100% 100%;
}

.QuatriemImage{
    width: 15%;
    height: 230px;
    background-color: #d2f06e;
    position: relative;
    left: 65%;
    bottom: 35%;
    border-radius: 2%;
    background: url(IMAGE/krakenimages-Y5bvRlcCx8k-unsplash.jpg);
    background-size: 100% 100%;
}

.PremierImage .A{
    border: 1px solid white;
    width: 40%;
    height: 42px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6%;
    background-color: #000;
}

.DeuxiemeImage .B{
    border: 1px solid white;
    width: 40%;
    height: 42px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6%;
    background-color: #000;
}

.TroixiemImage .C{
    border: 1px solid white;
    width: 40%;
    height: 42px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6%;
    background-color: #000;
}

.QuatriemImage .D{
    border: 1px solid white;
    width: 30%;
    height: 42px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6%;
    background-color: #000;
}

h4{
    text-align: center;
    position: relative;
    top: 95%;
    font-size: 19px;
    font-family: arial;
    color: rgba(25, 163, 193, 1);
}

.paragraphe{
    position: absolute;
    left: 3%;
    
}

.paragraphe p{
    font-size: 25px;
}

.paragraphe .para{
  font-size: 35px;
  color: #000;
  margin: 30px;
  position: relative;
  left: 5%;
}

 h6{
    font-size: 30px;
    font-family: arial;
    position: relative;
    top: 5%;
    color: rgba(25, 163, 193, 1);
}

.paragraphe button{
    width: 30%;
    height: 40px;
    background-color: orange;
    color: #ffffff;
    border-radius: 20px;
    outline: none;
    border: #000;
}

.paragraphe button i{
    font-size: 20px;
    float: right;
    margin-right: 6%;
}

.paragraphe section{
    display: flex;
    margin-left: 30px;
}

.paragraphe .oui{
    font-size: 35px;
    color: #000;
    margin: 30px;
    position: relative;
    left: 15%;
}

.descend #footerContact{
    position: relative;
    left: -21%;
    top: 60%;
    font-size: 15px;
    margin-top: 10px;
    padding: -10px;
    
}

footer{
    position: relative;
    background-color:rgb(141, 209, 223) ;
    width: 100%;
    min-width:50px;
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 175px;
}

footer .icon{
    margin-bottom: 80%;
}

footer .icon,footer .fin{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icon li,footer .fin li{
 list-style: none;
 margin: 10px;
 margin-top: -70px;
}

footer .fin li{
    list-style: none;
    margin: 10px;
    margin-top: -30px;
   }

footer .icon li a,footer .fin li a{
    font-size: 3em;
    color: #ffffff;
    margin: 5px;
    display: inline-block;
    transition: 0.5s;
}

footer .icon li a:hover{
    transform: translateY(-10px);
}

footer .fin li a{
    font-size: 1.5em;
    color: #ffffff;margin: 5px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .fin li a:hover{
    opacity: 1;
}

footer p{
    color: #ffffff;
    text-align: center;
    margin-bottom: -80px;
    font-size: 1.4em;
}

footer .waves{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
}


