*{

    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    width: 100%;
}


#banniere{
    background-color: #ffffff;
    width: 100%;
    height: 110px;
    display: flex;
}

#banniere img{
    margin: 20px;
    margin-left: 15%;
}

h3{
    color: #ffffff;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

h2{
    font-size: 10px;
    font-family: arial;
    position: relative;
    left: 30%;
    color: #ffffff;
}


.butt p{
    position: relative;
    top: 40px;
    left: 8px; 
    font-family: courier;
}

.unique p{
   position: relative;
   top: 90px; 
   font-size: 13px;
   color: rgba(25, 163, 193, 1);
}

/* button{
    width: 10%;
    height: 40px;
    float: center;
    position: absolute;
    right: 0px;
    width: 50px;
    border: 3px solid #73AD21;
    padding: 10px;
} */

h5{
    float: right;
    font-size: px;
    color: #000;
    margin: 20px;
    position: relative;
    bottom: 100px;
    font-family: Arial;
}

b{
    font-size: 30px;
    float: right;
    position: relative;
    right: 105%;
}


.BUT1{
    border: 1px solid rgba(232, 158, 47, 1);
    width: 50%;
    height: 50px;
    margin: 20px;
    border-radius: 40px;
    Text-align: center;
    color: rgba(232, 158, 47, 1);
    padding: 10px;
    position: relative;
    left: 720px;
    bottom: 50px;
}

.BUT2{
    border: 1px solid rgba(25, 163, 193, 1);
    width: 50%;
    height: 50px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
    color: rgba(25, 163, 193, 1);
    position: relative;
    left: 720px;
    bottom: 50px;
    padding: 10px;
}

#contact{
    width: 100%;
    display: flex;
    margin: 40px;
    text-align: center;
    float: right;
    justify-items: center;
}

#contact a{
    border: 1px solid;
    text-decoration: none;
    width: 50%;
    height: 43px;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 125%;
    bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(35, 32, 32);
    color: #ffffff;
    font-size: 20px;
}

.lien{
    width: 100%;
    height: 60px;
    background-color: rgba(247, 243, 243, 0.848);
}

.lien a{
    text-decoration: none;
    margin: 10px;
    text-align: center;
    color: #000;
    margin-top: 30px;
}

.lien section{
    margin-left: 15%;
    position: relative;
    top: 20px;
}

#banniere select{
    width: 55%;
    height: 40px;
    margin-top:25px;
    margin-left: -20%;
}

#banniere .menu{
   position: relative;
   left: 38%; top: 13%;
}


.Back{
    width: 100%;
    height: 650px;
    background-color: blue;
    background: url(IMAGE/Header-15.png) no-repeat;
    background-size: 100% 100%;
}

#flote{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 43%;
    height: 300px;
    position: absolute;
    top: 70%;
    left: 30%;
    border-radius: 10px;
}

.premier{
    border: 1px solid rgba(25, 163, 193, 1);
    width: 20%;
    height: 200px;
    margin: 30px;
    margin-top: 87px;
    margin-right: 50px;
    margin-left: 160px;
    background-color: rgba(25, 163, 193, 1);
    position: relative;
    left: 15%;
}

.second{
    position: absolute;
    border: 1px solid  rgba(25, 163, 193, 1);
    width: 20%;
    margin-right: 50px;
    height: 200px;
    margin: 90px;
    background-color:  rgba(25, 163, 193, 1);
    left: 40%;
}
.troixiem{
    border: 1px solid  rgba(25, 163, 193, 1);
    right: 30%;
    width: 20%;
    height: 200px;
    margin-top: 90px;
    background-color: rgba(25, 163, 193, 1);
    position: absolute;
    left: 66%;

   
}

#flote h1{
    text-align: center;
    margin: 15px;
    font-family: tahoma ;
}

#flote p{
    text-align: center;
    font-size: 25px;
    padding-top: px;
    font-family: tahoma;
}

.premier p{
    position: absolute;
    left: 35%;
    top: 55%;
    font-family: arial;
    font-size: 20px;
    color: #ffffff; 
}

#contact .fa-solid{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 3px;
    color: rgba(25, 163, 193, 1);
}

.second p{
    position: absolute;
    top: 60%;
    left: 23%;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: #ffffff;
}

.troixiem p{
    position: absolute;
    top: 60%;
    left: 20%;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: #ffffff;
}

.fa-solid{
    font-size: 80px;
    color: #ffffff;
}

.premier .fa-solid{
    position: absolute;
    left: 35%;top: 10%;
}

.second .fa-solid{
    position: absolute;
    left: 45%;
    top: 15%;
}

.troixiem .fa-solid{
    position: absolute;
    right:40%; bottom: 50%;
}


#Formul{
    display: flex;
    width: 85%;
    margin-left: 13%;
}

fieldset{
    width: 40%;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    background-color:   rgba(25, 163, 193, 1);
    border:  rgba(25, 163, 193, 1);
}

h4{
    text-align: center;
    font-size: 35px;
    font-family: tahoma;
}


input{
    width: 90%;
    height: 40px;
    margin: 20px;
}

label{
    font-size: 25px;
    margin: 10px;
}

button{
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(25, 163, 193, 1);
    color: #ffffff;
    border: 2px solid rgba(232, 158, 47, 1);
    float: right;
    margin-right: 16%;

}

button:hover{
    background-color: rgba(232, 158, 47, 1);
    border: 2px solid rgba(25, 163, 193, 1);
}

.BUT1:hover{
    background-color: rgba(232, 158, 47, 1);
    color: white;
}

.BUT2:hover{
    background-color: rgba(25, 163, 193, 1);
    color: white;
}

/*BLEM*/

#Blem{
    width: 100%;
    height: 700px;
}

.left{
    background-color: rgba(232, 158, 47, 1);
    width: 30%;
    height: 630px;
    margin-top: 40px;
    margin-left: 465px;
    border-radius: 15px;
}

.right{
    width: 35%;
    height: 630px;
    margin:40px ;
}

#Blem section{
    display: flex;
}

.flote{
    width: 68%;
    height: 170px;
    background-color: #ffffff;
    margin-top: 60px;
    font-size: 35px;
    float: right;
    margin-right: 480px;
    padding: 22px;
    font-family: tahoma;
    border-radius: 15px;
}

.flote span{
    color: rgba(25, 163, 193, 1);
}

.left img{
    width: 155%;
    height: 570px;
    float: right;
    margin-right: -210px;
    margin-top: 30px;
}

#select{
    margin-top: 50px;
    display: flex;
}

.right #entier{
    float: right;
    margin-right: 90px;
    font-size: 18px;
    margin: 30px;
    font-family: tahoma;
}

.right button{
 background-color: rgba(232, 158, 47, 1);
 width: 20%;
 font-size: 20px;
 height: 40px;
 border: none;
}


.menu label{
   position: relative;
   left: -25%;
   bottom: 10%;
}

/* .roulant{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #333;
    margin-top: 50px;
} */

footer{
    position: relative;
    background-color:rgb(141, 209, 223) ;
    width: 100%;
    min-width:50px;
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 175px;
}

footer .icon{
    margin-bottom: 80%;
}

footer .icon,footer .fin{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icon li,footer .fin li{
 list-style: none;
 margin: 10px;
 margin-top: -70px;
}

footer .fin li{
    list-style: none;
    margin: 10px;
    margin-top: -30px;
   }

footer .icon li a,footer .fin li a{
    font-size: 3em;
    color: #ffffff;
    margin: 5px;
    display: inline-block;
    transition: 0.5s;
}

footer .icon li a:hover{
    transform: translateY(-10px);
}

footer .fin li a{
    font-size: 1.5em;
    color: #ffffff;
    margin: 5px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .fin li a:hover{
    opacity: 1;
}

footer p{
    color: #ffffff;
    text-align: center;
    margin-bottom: -80px;
    font-size: 1.4em;
}

footer .waves{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    /* background:url(IMAGE/wave-removebg-preview.png); */
    background-size: 100% 100%;
}


.parametre section{
    background-color: rgb(33, 32, 32);
    width: 100%;
    height: 290px;
    margin-top: 50px;
    display: flex;
}

.parametre section p{
    display: flex;
    float: left;
    font-size: 15px;
    margin-left: 70px;
}

footer .fin{
    margin-top: 10px;
}

.descend img{
    width: 20%;
    height: 120px;
    float: left;
    margin-left: 23%;
    border-radius: 100%;
    border: solid rgb(141, 209, 223);
}

.descend span{
    color: rgb(141, 209, 223);
    font-size: 33px;
    font-family: tahoma;
    margin: 10px;
}

.descend1{
    margin-top: 20px;
    float: right;
    margin-left: 15%;
}

.descend1 h6{
    font-size: 33px;
    margin-top: 28px;
    font-family: tahoma;
    color: rgb(141, 209, 223);
}

.descend1 #partenaire{
    margin-top: 10px;
    font-size: 25px;
    color: #ffffff;
}

.descend2{
    margin-top: 20px;
    float: right;
    margin-left: 15%;
}

.descend2 h6{
    font-size: 33px;
    margin-top: 25px;
    font-family: tahoma;
    color: rgb(141, 209, 223);
}

.descend2 .texte{
    font-size: 25px;
    margin-top: 25px;
    color: #ffffff;
}

.descend #footerContact{
    position: relative;
    left: -21%;
    top: 60%;
    font-size: 15px;
    margin-top: 10px;
    padding: -10px;
    
}